version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./templates:/app/templates
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
    ports:
      - "${PORT:-8000}:8000"
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=mysite.settings
      - DEBUG=1
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_PASSWORD=${REDIS_PASSWORD}

volumes:
  static_volume: 